server:
  port: 7654
spring:
  application:
    name: storage-service
  data:
    redis:
      host: localhost
      port: 6379
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
minio:
  endpoint: http://localhost:9005
  access-key: admin
  secret-key: admin@123456
  bucket: chat-bucket
  region: us-east-1
  data:
    mongodb:
      #      authentication-database: admin
      #      host: localhost
      #      username: root
      #      password: root
      #      database: product-db
      #      port: 27017
      uri: mongodb://localhost:27017/storage?replicaSet=rs0
eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/